.modal-body{
  background-color: rgb(30,30,40)
}
 html,body{ background-color: rgb(30,30,40) !important;
display: flex;
min-height: 100vh;
flex-direction: column;
}
a{
  text-decoration: none;
}
button{
  margin-top:4px;
}
#users{
font-size:11px}
.bg-dark{background-color:rgb(24,24,32) !important;height: 100%}
.card-header{background-color:rgba(0,0,0,0.15)}
.card-middle {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}	
.premium-card:hover {
  -ms-transform: scale(1.12); 
  -webkit-transform: scale(1.12); 
  transform: scale(1.12);
  transition-duration: 0.25s;
}
.shard-button{
  width: 45px !important;
  height: 45px !important;

}
.inner-card{background-color:rgba(0,0,0,0.07)}
.btn-success{
  background-color:#28a745 !important;
  border-color:#28a745 !important;
}
content{
  flex: 1;
}
@media (min-width:992px) {
  .container-fluid { width: 75% !important;}
}
@media (max-width:992px) {
  .modal-dialog {max-width: 90%; }
}
.footer{
  margin-top:100px
}
.minimize-btn{
  height:25px;
  width:25px;
  position: absolute;
     top: 5px;
     right: 5px;
}
.modal-header {
    border-bottom: 0 none;
}
.modal-footer {
  border-top: 0 none;
}
.rectangle{
  width:12px;
  height:1px;
  background-color: white;
  position:absolute;
  left:6px;
  bottom:3px;
}
.navbar{
  background-color:rgb(24,24,32)
}
.white-icon{
  -webkit-filter: invert(1);
  filter: invert(1);
}
.btn-dark:not(.btn-check:checked + .btn ):hover{

  background-color: #21252963;
  transition: 0.1s;
  border-color: #21252963;

}
